.mainCls ul li {
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}

.bgDefault {
    color: white;
    background: black;
}

.mainCls ul li:hover{
    opacity: 1;
}

.mainCls textarea{
    width: 100%;
    border-top: 0;
}
.mainCls .preview {
    margin-bottom: 0;
    /* background: white; */
    height: 80px;
    width: 100%;
    /* color: black; */
    font-size: 30px;
}

.mainCls #multiply {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 23px;
}

/* quiz css */

.answers .options {
    padding: 10px 5px;
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

.questionsParent {
    max-width: 1000px;
    position: relative;
    margin: auto;
    /* position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
  }

  .questionsQuiz {
    /* width: 1000px;
    border-radius: 10px;
    position: absolute;
    top: 10%; */
    display: none;
  }

  