.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Menu Dark and Light theme code when we toggle*/

.blackAndWhite{
  color: white;
  background-color: black;
}

/* About page News navabr*/
.nav-underline .nav-link.active, .nav-underline .show>.nav-link{
  font-weight: 400 !important;
}

/* calculator ccontainer alignment*/
@media(max-width:768px){
  .container.calculator{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* contactDemo.js */

.passwordMainCls {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 5px;
  margin-right: 5px;
}

.password-toggle-icon i:hover {
  color: #000;
}